.message {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 16px 0 16px 0;
}

.imageAndText {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  align-items: end;
}

.imageAndText img {
  width: 48px;
  height: 48px;
}

.text {
  background: #0066cc;
  position: relative;
  border-radius: 12px 12px 0 12px;
  width: 516px;
  height: 60px;
  padding: 8px 13px;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 2px 3px rgba(29, 33, 38, 0.2));
}

.text:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 12px;
  height: 11px;
  background: #0066cc;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
}

.name {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.messageText {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

.time {
  font-weight: 600;
  font-size: 10px;
  color: #000;
  font-family: "Montserrat", sans-serif;
  padding: 5px 10px 0 0;
}