.radio {
  appearance: none;
  -webkit-appearance: none;

  width: 16px;
  height: 16px;

  border: 2px solid #000;
  border-radius: 50%;

  position: relative;
  cursor: pointer;
}

.radio::before {
  content: '';
  position: absolute;

  width: 6px;
  height: 6px;

  background-color: transparent;
  border-radius: 50%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.radio:checked::before {
  background-color: #000;
}

.label {
  display: flex;
  align-items: center;
  gap: 11px;

  cursor: pointer;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.span {
  font-size: 14px;
}
