.App {
  --header_height: 60px;
  display: flex;
  flex-direction: column;
}

.hw {
  font-family: "Montserrat", sans-serif;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 30px 0 160px 0;
  display: flex;
  flex-direction: column;

}

.hw::before,
.hw::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background: #d9d9d9;
}

.hw::before {
  top: 0;
}

.hw::after {
  bottom: 0;
}

.hwTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 10px;
  color: #000;
}