.App {
  --header_height: 60px;
  padding-top: 130px;
  display: flex;
  justify-content: center;
}

.hw {

  position: relative;
  max-width: 1280px;
  padding: 10px 70px 32px 70px;
  margin: 10px auto 0;
  display: flex;
  flex-direction: column;

}

.hw::before,
.hw::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 1px;
  background: #d9d9d9;
}

.hw::before {
  top: 0;
}

.hw::after {
  bottom: 0;
}

.hwTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #000;
}