.sendForm {
  display: flex;
  flex-direction: row;
  gap: 44px;
  padding-top: 40px;
}

.textarea {
  resize: none;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.9;
  border-radius: 20px;
  width: 976px;
  height: 40px;
  box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
  background: #f5f7fb;
  border: none;
  padding: 12px 24px;
  outline: none;
}

.button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  background: #06c;
  border: none;
}

.button:hover {
  background: #0052cc;
  box-shadow: 0 6px 14px rgba(0, 82, 204, 0.4);
  transform: translateY(-2px);
  cursor: pointer;
}

.button:active {
  background: #0041a8;
  box-shadow: 0 3px 8px rgba(0, 65, 168, 0.4);
  transform: translateY(0);

}
