.burgerMenuIcon {

}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 2px 0 rgba(29, 33, 38, 0.1), 0 0 40px 0 rgba(29, 33, 38, 0.13);
  padding: 16px 70px 16px 70px;
}

.header h1 {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}