.burgerMenuIcon {

}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  padding: 16px 70px;

  background: white;
  z-index: 1000;
}

.header h1 {
  font-weight: 600;
  font-size: 24px;
  color: #000;
}