.button {
  border: none;
  border-radius: 3px;
  padding: 5px 24px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.42857;
  color: #fff;
}

.disabled {
  width: 133px;
  background: #004d99;

  color: #002e5c;
}

.secondary {
  border: 1px solid #06c;
  width: 176px;
  height: 30px;
  color: #06c;
}

.default {
  width: 132px;
  background: #06c;
}

.red {
  width: 129px;
  background: #cc1439;
}

.default:hover {
  width: 167px;
  background: #0080ff;

}

.red:hover {
  width: 167px;
  background: #ff1a47;
}

.secondary:hover {
  width: 167px;
  background: #e5f0fa;
}


.default:active {
  width: 149px;
  background: #0059b2;
}

.secondary:active {
  width: 149px;
  background: #c9e5ff;
}

.red:active {
  width: 149px;
  background: #b21232;
}

.button:disabled {
  opacity: 0.5;
}
