
.button {
  border: none;
  border-radius: 3px;
  padding: 5px 24px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  width: 150px; /* фиксированная ширина для всех кнопок */
  transition: background 0.2s, color 0.2s, transform 0.2s; /* плавный переход */
}

/* Состояние disabled */
.button:disabled,
.disabled {
  background: #004d99;
  color: #002e5c;
  cursor: not-allowed;
}

/* Secondary кнопка */
.secondary {
  border: 1px solid #06c;
  color: #06c;
  background: transparent;
}

/* Default кнопка */
.default {
  background: #06c;
  color: #fff;
}

/* Red кнопка */
.red {
  background: #cc1439;
  color: #fff;
}

/* Hover эффекты */
.default:hover {
  background: #0080ff;
  transform: scale(1.05);
}

.red:hover {
  background: #ff1a47;
  transform: scale(1.05);
}

.secondary:hover {
  background: #e5f0fa;
  transform: scale(1.05);
}

/* Active эффекты */
.default:active {
  background: #509be5;
  transform: scale(0.98);
}

.secondary:active {
  background: #c9e5ff;
  transform: scale(0.98);
}

.red:active {
  background: #b21232;
  transform: scale(0.98);
}

/* Disabled состояние */
.button:disabled {
  opacity: 0.5;
  transform: none;
}
